* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: black;
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    background-color: #e6e6e6;
    background-attachment: fixed;
}
.nav-hero {
    height: 100vh;
    background: url('../../../dist/e3da808a30673db4568d.jpg');
    background-attachment: fixed;
}

/* NavBar -----------------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 20%;
    font-size: 35px;
    color: white;
    position: fixed;
    z-index: 10;
    background: url('../../../dist/e3da808a30673db4568d.jpg');
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: 'Karantina', cursive;
}

nav li {
    padding: 0 20px;
    cursor: pointer;
}

.heroText {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10%;
    color: white;
}

.heroText h1 {
    font-size: 60px;
    margin: 20px;
}

.heroText .typer {
    color: #e75b1e;
    font-family: 'Pacifico', cursive;
}

.heroText h4 {
    color: #e75b1e;
    font-size: 30px;
    margin: 20px;
    font-family: 'Lobster', cursive;
}

.heroText p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.book-table {
    padding: 25px 4%;
    background-color: #e75b1e;
    border: 2px solid #e75b1e;
    color: white;
    margin: 4%;
    transition: 500ms;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    outline: none;
}
.book-table:hover {
    background-color: transparent;
}

.aboutUsOne {
    position: relative;
    display: grid;
    grid-template-columns: 60% 30%;
    padding: 4% 13%;
    background: url('../../../dist/e9f1e530aa123928322e.jpg');
    background-attachment: fixed;
}

.aboutUsOne h1, .specialMenu h1, .newsletter h1 {
    color: #e75b1e;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 10px;
}

.aboutUsOne h6 {
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 20px 0px;
}

.aboutUsOne p{
    padding: 20px 0;
    margin: 2% 0%;
}

.aboutUsOne .aboutUsText {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    
}

.aboutUsOne .aboutUsImg img {
    position: absolute;
    border-radius: 50%;
    right: 10%;
}

/* Menu -----------------------------------------------------------------------------------------------------------------------------------------------*/

.menu {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.53)),
    url('../../../dist/menu.jpg');
    background-attachment: fixed;
}

.menu h1, .team h1, .reservation h1 {
    display: block;
    color: #e75b1e;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    padding: 2% 0 1%;
}

.menu p {
    color: white;
    padding: 0 20% 3%;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menuTabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0 23%;
}
.menuTabs div {
    background: rgba(0, 0, 0, 0.73);
    width: 100%;
    display: grid;
    justify-items: center;
    padding: 0 0 5%;
    margin: 0 0 30px;
}

.menuTabs h6 {
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 15px 0 8px;
    display: inline;
    border-bottom: 1px solid white;
}

.menuTabs hr {
    color: white;
    width: 50%;
    height: 1px;
}

.menuTabs img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    margin: 10px 0;
}

/* Special Menu -----------------------------------------------------------------------------------------------------------------------------------------------*/

.specialMenu {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
    url('../../../dist/18b1c92603261acc5ce5.jpg');
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 8%;
    padding-bottom: 0;

}

.specialMenuImg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    transition: 2s;
}

.specialMenuImg::-webkit-scrollbar {
    display: none;
}

.specialMenu img {
    height: 400px;
    width: 300px;
    margin: 10px;
}


.specialMenu p, .newsletter p {
    padding: 0 20% 2%;
    color: white;
    font-size: 20px;
}


/* ----------------------------------------------------------------Team -----------------------------------------------------------------*/

.team {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
    url('../../../dist/team.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.team h1 {
    color: white
}

.chefs {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    padding: 2% 15%;
    margin: auto;
}

.chefInfo {
    background: rgba(0, 0, 0, 0.73);
    margin: 20px;
}

.chefInfo img {
    width: 100%;
}

.chefInfo h1 {
    font-size: 25px;
}

.chefInfo p {
    color: white;
    margin: 20px;
    padding-bottom: 15px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid white;
}



.chefInfo .icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.chefInfo .icon .iconE {
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 6px;
}

/* ----------------------------------------------------------------Reservation -----------------------------------------------------------------*/

.reservation {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
    url('../../../dist/reservation.jpg');
    background-attachment: fixed;
    padding: 5% 0;
}

.reservation h1 {
    color: white;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0 30%;
    margin: 20px;
}

.inputs input {
    background: #f5f5f5;
    border: 2px dotted #ccc;
    width: 97%;
    height: 50px;
    outline: none;
    margin: 10px;
}
.reservation button {
    display: block;
    text-align: center;
    margin: auto;
}
/* ----------------------------------------------------------------NewsLetter -----------------------------------------------------------------*/

.newsletter {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
    url('../../../dist/newsletter.jpg');
    text-align: center;
    padding: 5% 0;
    background-attachment: fixed;
}

.newsletter p {
    font-size: 16px;
}

.newsletter input {
    width: 35%;
    height: 50px;   
    border: 1px dashed black;
    padding-left: 20px;
}

/* ----------------------------------------------------------------- Footer ------------------------------------------------------------- */
footer {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.53)),
    url('../../../dist/footerBackground.jpg');
    background-attachment: fixed;

}

footer img {
    display: block;
    text-align: center;
    margin: auto;
}

.footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2% 15% 2%;

}

.footerContent .h1 {
    color: #e75b1e;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    font-weight: 100;
    padding: 10px;
}

.footerContent p {
    color: white;
    padding: 4px 15% 0 10px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 200ms;
}

.footerContent p:hover {
    color: #e75b1e;
    transform: translate3d(2px, -3px, -5px);
}

.footerContent i {
    color: white;
    font-size: 18px;
    display: inline-block;
    line-height: 25px;
    padding-top: 20px;
}

.footerContent .address::after {
    content: '6 E Esplanade, St Albans VIC 3021, Australia';
    padding: 10px;
}

.footerContent .phone::after {
    content: '+1  (234) 567-8910';
    padding: 10px;
}

.footerContent .envelop::after {
    content: 'food@food.com';
    padding: 10px;
}

.openingHours h6 {
    color: white;
    padding: 4px 15% 0 10px;
    font-size: 18px;
}

.openingHours .timing {
    color: #666;
    padding: 4px 15% 0 30px;
    font-size: 12px;
}