* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    background-attachment: fixed;
}
.nav-hero {
    height: 100vh;
    background: url('../../../dist/e3da808a30673db4568d.jpg');
    background-attachment: fixed;
}

/* NavBar -----------------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 20%;
    font-size: 35px;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: 'Karantina', cursive;
}

nav li {
    padding: 0 20px;
}

.heroText {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10%;
    color: white;
}

.heroText h1 {
    font-size: 60px;
    margin: 20px;
}

.heroText h4 {
    color: #e75b1e;
    font-size: 30px;
    margin: 20px;
    font-family: 'Lobster', cursive;
}

.heroText p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.book-table {
    padding: 25px 4%;
    background-color: #e75b1e;
    border: 2px solid #e75b1e;
    color: white;
    margin: 4%;
    transition: 500ms;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}
.book-table:hover {
    background-color: transparent;
}

.aboutUsOne {
    position: relative;
    display: grid;
    grid-template-columns: 60% 30%;
    padding: 4% 13%;
    background: url('../../../dist/e9f1e530aa123928322e.jpg');
    background-attachment: fixed;
}

.aboutUsOne h1, .specialMenu h1 {
    color: #e75b1e;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 10px;
}

.aboutUsOne h6 {
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 20px 0px;
}

.aboutUsOne p{
    padding: 20px 0;
    margin: 2% 0%;
}

.aboutUsOne .aboutUsText {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    
}

.aboutUsOne .aboutUsImg img {
    position: absolute;
    border-radius: 50%;
    right: 10%;
}

/* Special Menu -----------------------------------------------------------------------------------------------------------------------------------------------*/

.specialMenu {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
    url('../../../dist/18b1c92603261acc5ce5.jpg');
    background-position: center;
    text-align: center;
    padding: 8%;

}

.specialMenuImg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    transition: 2s;
}

.specialMenuImg::-webkit-scrollbar {
    display: none;
}

.specialMenu img {
    height: 400px;
    width: 300px;
    margin: 10px;
}

.specialMenuImg:hover {
    transform: translate(-200px, 0);
}

.specialMenu p {
    padding: 0 20%;
    color: white;
}